<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sg.loginweb.mapper.CourseSubMapper">

	<resultMap id="BaseResultMap" type="org.sg.loginweb.entity.CourseSub">
		<id column="content" property="content"/>
		<id column="id" property="id"/>
		<id column="sort" property="sort"/>
		<id column="type" property="type"/>
		<id column="courseid" property="courseid"/>
	</resultMap>

	<sql id="Base_column_List">
		content,id,sort,type
	</sql>

	<update id="changeCourseSubLoc" parameterType="java.util.List">
   		update course_sub
	    <trim prefix="set" suffixOverrides=",">
	        <trim prefix="sort =case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
					when id = #{item.id} then #{item.sort}
	            </foreach>
	        </trim>
	    </trim>
	    <where>
	        id in
	        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	            #{item.id}
	        </foreach>
	    </where>
	</update>

</mapper>
