<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sg.loginweb.mapper.sys.SysDatabookMapper">

	<resultMap id="BaseResultMap" type="org.sg.loginweb.entity.sys.SysDatabook">
		<id column="createdate" property="createdate"/>
		<id column="createplayerid" property="createplayerid"/>
		<id column="groupid" property="groupid"/>
		<id column="id" property="id"/>
		<id column="parentid" property="parentid"/>
		<id column="updatedate" property="updatedate"/>
		<id column="updateplayerid" property="updateplayerid"/>
		<id column="valid" property="valid"/>
		<id column="value" property="value"/>
	</resultMap>

	<sql id="Base_column_List">
		createdate,createplayerid,groupid,id,parentid,updatedate,updateplayerid,valid,value
	</sql>
	
	<select id="selectSysDatabookByCon" resultType="org.sg.loginweb.entity.sys.SysDatabook">
		select d.id,d.groupid,d.value,d.valid,d.createdate,g.value sysgroupvalue,p.realname createname  
		from 
		sys_databook d left join sys_group g on d.groupid=g.id 
		left join player p on d.createplayerid=p.id 
		<where>
			<if test="sysDatabookBo.groupid!=null and sysDatabookBo.groupid!=-1">
				and d.groupid=#{sysDatabookBo.groupid}
			</if>
			<if test="sysDatabookBo.valid!=null and sysDatabookBo.valid!=-1">
				and d.valid=#{sysDatabookBo.valid}
			</if>
			<if test="sysDatabookBo.value!=null and sysDatabookBo.value!=''">
				and d.value like '%${sysDatabookBo.value}%'
			</if>
		</where>
	</select>

</mapper>
